/*.sidebar .logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 15px;
}

.sidebar li {
    margin-bottom: 8px;
}

.sidebar a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    border-radius: 12px;
}

    .sidebar a:hover {
        background: #7B3FE4;
    }

    .sidebar a.active {
        background: #8E44EC;
    }
*/